@charset "UTF-8";

body {
    color: #333333;
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}

#header {
    text-align: center;
    background-color: #8888ff;
}

h1 {
    font-size: 36px;
    color: #ffffff;
}

#footer {
    text-align: center;
}